In [ ]:
## Pandas 数据结构 Dataframe

In [ ]:
## Dataframe 概念及创建

In [8]:
# Dataframe 是一个表格型的数据结构，是二维数组，包含一组有序的列，列的值类型可以是数值、字符、布尔值等
# Dataframe 带有 index（行标签）和 columns（列标签） 
import numpy as np
import pandas as pd

data = {'name':['Jack','Tom','John'],
       'age':[11,14,16],
       'gender':['man','man','man']}
df = pd.DataFrame(data)
print(df)
print(type(df))
print(df.index,type(df.index))  # RangeIndex
print(df.columns,type(df.columns))  # Index
print(df.values,type(df.values))  # ndarray

   name  age gender
0  Jack   11    man
1   Tom   14    man
2  John   16    man
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object') <class 'pandas.core.indexes.base.Index'>
[['Jack' 11 'man']
 ['Tom' 14 'man']
 ['John' 16 'man']] <class 'numpy.ndarray'>

In [16]:
# DataFrame 创建方法一：由list、ndarray组成的字典

data1 = {'a':[1,2,3],
        'b':[4,5,6],
        'c':[7,8,9]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
#　注意：字典值的长度必须保持一致。

df1 = pd.DataFrame(data1, columns=['a','b','c','d'])
df2 = pd.DataFrame(data1, columns=['a','c','b'])
print(df1)
print(df2)
# columns参数：可以重新指定列的顺序，用list的格式，如果现有数据没有该列，则产生 NaN 值
# 且列的数量可以少于原数据

df2 = pd.DataFrame(data2, index=['f1','f2','f3'])
# df2 = pd.DataFrame(data2, index=['f1','f2','f3','f4'])
print(df2)
# ndarray 法创建 DataFrame重新定义 index 时，用 list 格式，个数（行数）与原数据必须保持一致

{'a': [1, 2, 3], 'b': [4, 5, 6], 'c': [7, 8, 9]}
{'one': array([0.03653724, 0.05065395, 0.3724265 ]), 'two': array([0.74473969, 0.82934673, 0.20316226])}
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9
        one       two
0  0.036537  0.744740
1  0.050654  0.829347
2  0.372427  0.203162
   a  b  c    d
0  1  4  7  NaN
1  2  5  8  NaN
2  3  6  9  NaN
   a  c  b
0  1  7  4
1  2  8  5
2  3  9  6
         one       two
f1  0.036537  0.744740
f2  0.050654  0.829347
f3  0.372427  0.203162

In [19]:
# DataFrame 创建方法二：由 Series 组成的字典

data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}
data2 = {'one':pd.Series(np.random.rand(2),index=['a','b']),
        'two':pd.Series(np.random.rand(3),index=['a','b','c'])}
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# series 法创建DataFrame时，或重新定义 index 时，长度可以不一样，空值自动填充为 NaN

{'one': 0    0.569844
1    0.502948
dtype: float64, 'two': 0    0.381593
1    0.155750
2    0.106728
dtype: float64}
{'one': a    0.133263
b    0.248263
dtype: float64, 'two': a    0.842854
b    0.806573
c    0.565692
dtype: float64}
        one       two
0  0.569844  0.381593
1  0.502948  0.155750
2       NaN  0.106728
        one       two
a  0.133263  0.842854
b  0.248263  0.806573
c       NaN  0.565692

In [22]:
# DataFrame 创建方法三：通过二维数组直接创建

ar = np.random.rand(9).reshape(3,3)
print(ar)
df1 = pd.DataFrame(ar)
df2 = pd.DataFrame(ar, index=['a','b','c'], columns=['one','two','three'])
print(df1)
print(df2)
# 数组方法创建，index 和 columns 指定长度应当和原数组保持一致

[[0.8192726  0.7556772  0.331472  ]
 [0.97270426 0.64137201 0.54902375]
 [0.70662469 0.99235659 0.33490152]]
          0         1         2
0  0.819273  0.755677  0.331472
1  0.972704  0.641372  0.549024
2  0.706625  0.992357  0.334902
        one       two     three
a  0.819273  0.755677  0.331472
b  0.972704  0.641372  0.549024
c  0.706625  0.992357  0.334902

In [31]:
# DataFrame 创建方法四：由字典组成的列表创建

data = [{'one':1,'two':2},{'one':5,'two':10,'three':15}]
print(data)
df1 = pd.DataFrame(data)
print(df1)
df2 = pd.DataFrame(data, index=['a','b'])
print(df2)
df3 = pd.DataFrame(data, columns=['one','two'])
print(df3)
# 此方法，index 必须和原数组一样长度，columns 可以不一样长度

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 15}]
   one  three  two
0    1    NaN    2
1    5   15.0   10
   one  three  two
a    1    NaN    2
b    5   15.0   10
   one  two
0    1    2
1    5   10

In [38]:
# DataFrame 创建方法五：由字典组成的字典创建

data = {'Jack':{'math':100,'eng':90,'art':80},
       'Tom':{'math':95,'eng':85,'art':75},
       'Marry':{'math':93,'eng':83}}
print(data)
df1 = pd.DataFrame(data)
print(df1)
# 字典 key 为 colums 值，字典内部的子字典 key 为 index
# 子字典的键值个数不需要相等，缺失值自动填充为 NaN

df2 = pd.DataFrame(data, columns=['Bob','Tom','Marry'])
print(df2)
# columns 参数可以增加和减少现有列，如果出现新的列，值为 NaN

df3 = pd.DataFrame(data, index=['a','b','c'])
print(df3)
# 注意：此方法不能重新赋值原有的 index, 如果新的 index ,对应值为 NaN

{'Jack': {'math': 100, 'eng': 90, 'art': 80}, 'Tom': {'math': 95, 'eng': 85, 'art': 75}, 'Marry': {'math': 93, 'eng': 83}}
      Jack  Tom  Marry
art     80   75    NaN
eng     90   85   83.0
math   100   95   93.0
      Bob  Tom  Marry
art   NaN   75    NaN
eng   NaN   85   83.0
math  NaN   95   93.0
   Jack  Tom  Marry
a   NaN  NaN    NaN
b   NaN  NaN    NaN
c   NaN  NaN    NaN

In [ ]:
## DataFrame 索引和切片

In [54]:
# DataFrame 选择行与列   选择列：df[['列名1', '列名2', ]]   选择行：df.loc[['行名1', ‘行名2’, ]]

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index=['one','two','three'],
                 columns=['a','b','c','d'])
print(df)

data1 = df['a']
print(data1, type(data1))
data2 = df[['a','b']]
print(data2, type(data2))
print('------')

data3 = df.loc['one']
print(data3, type(data3))
data4 = df.loc[['one','two']]
print(data4)

               a          b          c          d
one    71.888760  62.920516  86.723224  54.425745
two    13.795651  57.716073  16.608057  72.243750
three  85.492900   5.978901  17.540546  79.162128
one      71.888760
two      13.795651
three    85.492900
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          b
one    71.888760  62.920516
two    13.795651  57.716073
three  85.492900   5.978901 <class 'pandas.core.frame.DataFrame'>
------
a    71.888760
b    62.920516
c    86.723224
d    54.425745
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  71.888760  62.920516  86.723224  54.425745
two  13.795651  57.716073  16.608057  72.243750

In [53]:
# DataFrame 选择列， df[]一般用于选择列，但也可以选择行

data3 = df[:1]
# data3 = df.loc['one']
print(data3)
# df[]中为数字时，默认选择行，且只能以切片的形式选择，不能使用纯数字，比如 df[0]

             a          b          c          d
one  48.545144  75.293376  33.590293  33.614779

In [50]:
# DataFrame 选择行，df.loc[] 针对 index 选择行，可以使用指定index名称，也可以使用默认数字index (前提是未指定index的情况)

df1 = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                 index=['one','two','three'],
                 columns=['a','b','c','d'])
print(df1)
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 columns=['a','b','c','d'])
print(df2)

data4 = df1.loc[['one','two','four']]
data5 = df2.loc[[1,2]] 
print(data4)
print(data5)

# 切片同理，左闭右闭，末端包含

data6 = df1.loc['one':'three']
data7 = df2.loc[1:3]
print(data6)
print(data7)

               a          b          c          d
one    44.215292  53.488753  82.001929  54.490137
two    84.404553  82.414139  49.727960  47.858455
three  29.853999  74.984166  46.651801  89.468108
           a          b          c          d
0  68.613001  94.876377   8.799696  47.995541
1  28.788729  71.050735  53.302139  16.239472
2  93.309545  63.679922  64.804043  95.907981
3  22.913158  72.655452  99.420815  21.334466
              a          b          c          d
one   44.215292  53.488753  82.001929  54.490137
two   84.404553  82.414139  49.727960  47.858455
four        NaN        NaN        NaN        NaN
           a          b          c          d
1  28.788729  71.050735  53.302139  16.239472
2  93.309545  63.679922  64.804043  95.907981
               a          b          c          d
one    44.215292  53.488753  82.001929  54.490137
two    84.404553  82.414139  49.727960  47.858455
three  29.853999  74.984166  46.651801  89.468108
           a          b          c          d
1  28.788729  71.050735  53.302139  16.239472
2  93.309545  63.679922  64.804043  95.907981
3  22.913158  72.655452  99.420815  21.334466

/Users/zhengxixuan/.pyenv/versions/3.7.0/envs/data101/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  # This is added back by InteractiveShellApp.init_path()

In [58]:
# DataFrame 选择行  df.iloc[] 按照整数位置（从轴的 0 到 len-1）选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df1)
print('------')

print(df1.iloc[0]) # 第一行
print(df1.iloc[-1])  # 倒数第一行
# print(df1.iloc[4])
print('单位置索引\n------')
# 和 loc 不一样，iloc 索引不能超出原数据的行数

print(df1.iloc[[0,2]])
print(df1.iloc[[3,1,0]])
print('多位置索引\n------')

print(df1.iloc[0:2])
print(df1.iloc[::2])
print('切片索引')
# 注意：iloc 切片末端不包含，loc切片末端包含

               a          b          c          d
one     7.613701  50.713828  33.856287   8.985337
two    70.447756  79.743119  68.136030  45.222951
three  45.780575  68.342667  65.022738  87.140524
four   60.806640  50.922545  55.203023  94.749104
------
a     7.613701
b    50.713828
c    33.856287
d     8.985337
Name: one, dtype: float64
a    60.806640
b    50.922545
c    55.203023
d    94.749104
Name: four, dtype: float64
单位置索引
------
               a          b          c          d
one     7.613701  50.713828  33.856287   8.985337
three  45.780575  68.342667  65.022738  87.140524
              a          b          c          d
four  60.806640  50.922545  55.203023  94.749104
two   70.447756  79.743119  68.136030  45.222951
one    7.613701  50.713828  33.856287   8.985337
多位置索引
------
             a          b          c          d
one   7.613701  50.713828  33.856287   8.985337
two  70.447756  79.743119  68.136030  45.222951
               a          b          c          d
one     7.613701  50.713828  33.856287   8.985337
three  45.780575  68.342667  65.022738  87.140524
切片索引

In [64]:
# DataFrame 布尔型索引  和 Series 原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df)
print('------')

br1 = df < 20
print(br1,type(br1))
print(df[br1])
print('------')
# 每个值做判断，返回True 的值

br2 = df['a'] > 20
print(br2,type(br2))
print(df[br2])
print('------')
# 单列做判断，返回列为 True 的行数据（包括其他列）

br3 = df[['a','b']] > 50
print(br3,type(br3))
print(df[br3])
print('------')
# 多列判断，返回所有数据，True 返回原数据，False 返回 NaN

br4 = df.loc[['one','three']]  < 20
print(br4,type(br4))
print(df[br4])
# 多行判断，返回所有数据，True 返回原数据，False 返回 NaN

               a          b          c          d
one    88.146985  36.819439   5.456046  58.127344
two    29.763987  44.601227  87.881762   1.479309
three  63.713191  97.030425  91.843035  49.922879
four   26.284360  96.620178   8.732149  47.138966
------
           a      b      c      d
one    False  False   True  False
two    False  False  False   True
three  False  False  False  False
four   False  False   True  False <class 'pandas.core.frame.DataFrame'>
        a   b         c         d
one   NaN NaN  5.456046       NaN
two   NaN NaN       NaN  1.479309
three NaN NaN       NaN       NaN
four  NaN NaN  8.732149       NaN
------
one      True
two      True
three    True
four     True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
               a          b          c          d
one    88.146985  36.819439   5.456046  58.127344
two    29.763987  44.601227  87.881762   1.479309
three  63.713191  97.030425  91.843035  49.922879
four   26.284360  96.620178   8.732149  47.138966
------
           a      b
one     True  False
two    False  False
three   True   True
four   False   True <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    88.146985        NaN NaN NaN
two          NaN        NaN NaN NaN
three  63.713191  97.030425 NaN NaN
four         NaN  96.620178 NaN NaN
------
           a      b      c      d
one    False  False   True  False
three  False  False  False  False <class 'pandas.core.frame.DataFrame'>
        a   b         c   d
one   NaN NaN  5.456046 NaN
two   NaN NaN       NaN NaN
three NaN NaN       NaN NaN
four  NaN NaN       NaN NaN

In [68]:
# DataFrame 多重索引：原则是先选择列，再选择行

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 index=['one','two','three','four'],
                 columns=['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])
print(df[['b','c']].iloc[:2])
print(df[df['c']>50].iloc[1:])

               a          b          c          d
one    82.125156  81.590895  46.190402  48.200380
two    45.193235   7.332973  99.298356  46.117373
three  61.263372  98.612598  93.519166  98.409592
four   43.297849  67.434183  77.726207  91.123616
------
one      82.125156
three    61.263372
Name: a, dtype: float64
             b          c
one  81.590895  46.190402
two   7.332973  99.298356
               a          b          c          d
three  61.263372  98.612598  93.519166  98.409592
four   43.297849  67.434183  77.726207  91.123616

In [ ]:
## DataFrame 基本技巧
## 查看、转置、对齐、排序、增删改

In [71]:
# DataFrame 查看 head\tail, 转置.T

df= pd.DataFrame(np.random.rand(20).reshape(10,2)*100)
print(df.head(3))
print(df.tail())

print(df.T)

           0          1
0  94.423717  17.004013
1  57.611433  25.906617
2  77.914881  65.064751
           0          1
5  47.554019  79.041015
6  51.257756   9.541101
7  15.398340  58.141129
8  59.352908  76.315052
9  84.047921  38.110667
           0          1          2          3          4          5  \
0  94.423717  57.611433  77.914881  80.836818  56.790953  47.554019
1  17.004013  25.906617  65.064751  70.856492  91.709132  79.041015

           6          7          8          9
0  51.257756  15.398340  59.352908  84.047921
1   9.541101  58.141129  76.315052  38.110667

In [78]:
# DataFrame 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 columns=['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 100
print(df)
# 新增行/列，并赋值

df['e'] = 20
df[['a','b']] = 200
df.loc[1:3] = 50
print(df)
# 索引后直接修改值

           a          b          c          d
0   8.949849  90.626869  71.820057  10.877335
1  68.873135  90.106979  51.311214   6.265649
2   4.362331  56.572734  25.816962  82.733661
3  25.491983  91.447533  20.404486  76.908827
            a           b           c           d    e
0    8.949849   90.626869   71.820057   10.877335   10
1   68.873135   90.106979   51.311214    6.265649   10
2    4.362331   56.572734   25.816962   82.733661   10
3   25.491983   91.447533   20.404486   76.908827   10
4  100.000000  100.000000  100.000000  100.000000  100
     a    b           c           d   e
0  200  200   71.820057   10.877335  20
1   50   50   50.000000   50.000000  50
2   50   50   50.000000   50.000000  50
3   50   50   50.000000   50.000000  50
4  200  200  100.000000  100.000000  20

In [84]:
# DataFrame 删除 del/.drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 columns=['a','b','c','d'])
print(df)

del df['a']
print(df)
print('------')
# del 语句：删除列

print(df.drop(0))
print(df.drop([1,2]))  # 左闭右闭
print(df)
print('------')
# .drop() 删除行，inplace=False  删除后生成新数据，不改变原始数据

print(df.drop(['d'], axis=1))
print(df)
# .drop() 删除列，要加上axis=1, inplace=False 删除后生成新数据，不改变原始数据

           a          b          c          d
0  32.259691  93.130421  77.523907  40.712898
1  39.349909   3.565984  89.785653  88.618089
2   0.113810  21.511734  65.916858  22.188992
3  90.407905  47.608240  55.856180  32.985617
           b          c          d
0  93.130421  77.523907  40.712898
1   3.565984  89.785653  88.618089
2  21.511734  65.916858  22.188992
3  47.608240  55.856180  32.985617
------
           b          c          d
1   3.565984  89.785653  88.618089
2  21.511734  65.916858  22.188992
3  47.608240  55.856180  32.985617
           b          c          d
0  93.130421  77.523907  40.712898
3  47.608240  55.856180  32.985617
           b          c          d
0  93.130421  77.523907  40.712898
1   3.565984  89.785653  88.618089
2  21.511734  65.916858  22.188992
3  47.608240  55.856180  32.985617
------
           b          c
0  93.130421  77.523907
1   3.565984  89.785653
2  21.511734  65.916858
3  47.608240  55.856180
           b          c          d
0  93.130421  77.523907  40.712898
1   3.565984  89.785653  88.618089
2  21.511734  65.916858  22.188992
3  47.608240  55.856180  32.985617

In [85]:
# DataFrame 对齐  自动按照列和索引对齐，数据不足用 NaN

df1 = pd.DataFrame(np.random.randn(10,4), columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.randn(8,2), columns=['a','b'])
print(df1+df2)

          a         b   c   d
0 -0.962475  0.000631 NaN NaN
1 -1.342451  0.579971 NaN NaN
2 -0.686524  0.574510 NaN NaN
3  1.139719  0.316870 NaN NaN
4  0.127184 -0.925611 NaN NaN
5  2.343531 -0.722108 NaN NaN
6 -1.303822  0.055258 NaN NaN
7  1.637485  1.222072 NaN NaN
8       NaN       NaN NaN NaN
9       NaN       NaN NaN NaN

In [97]:
# DataFrame 排序一：按值排序 .sort_values

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                 columns=['a','b','c','d'])
print(df)

print(df.sort_values(['a'], ascending=True))  # 升序, 默认升序
print(df.sort_values(['a'], ascending=False))  # 降序
print('------')
# 单列排序，参数ascengding 控制升降

df1 = pd.DataFrame({'a':[1,2,1,2,1,2,1,2],
                   'b':list(range(8)),
                   'c':list(range(8,0,-1))})
print(df1)
print(df1.sort_values(['a','c']))
# 多列排序，按列顺序排
print(df1.sort_values([1], axis=1, ascending=False))
# 单行排序，降序

# '''
# df1.sort_values(
#     by,
#     axis=0,
#     ascending=True,
#     inplace=False,
#     kind='quicksort',
#     na_position='last',)
# '''
# axis默认是0,ascending 默认升序

           a          b          c          d
0  76.289980  40.268603   2.375871  48.115922
1  75.312316  72.303007  38.343544  22.982043
2  17.836965  49.076718  19.888634  24.837256
3  93.393727  52.577777  73.083404  29.730007
           a          b          c          d
2  17.836965  49.076718  19.888634  24.837256
1  75.312316  72.303007  38.343544  22.982043
0  76.289980  40.268603   2.375871  48.115922
3  93.393727  52.577777  73.083404  29.730007
           a          b          c          d
3  93.393727  52.577777  73.083404  29.730007
0  76.289980  40.268603   2.375871  48.115922
1  75.312316  72.303007  38.343544  22.982043
2  17.836965  49.076718  19.888634  24.837256
------
   a  b  c
0  1  0  8
1  2  1  7
2  1  2  6
3  2  3  5
4  1  4  4
5  2  5  3
6  1  6  2
7  2  7  1
   a  b  c
6  1  6  2
4  1  4  4
2  1  2  6
0  1  0  8
7  2  7  1
5  2  5  3
3  2  3  5
1  2  1  7
   c  a  b
0  8  1  0
1  7  2  1
2  6  1  2
3  5  2  3
4  4  1  4
5  3  2  5
6  2  1  6
7  1  2  7

In [101]:
# DataFrame 排序二： 索引排序 .sort_index

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=[5,4,3,2],
                  columns=['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index=['e','z','l','k'],
                  columns=['a','b','c','d'])
                         
print(df1)
print(df1.sort_index())
print(df2)
print(df2.sort_index())
# 按 index 排序，默认升序，生成新数据，不替换原数据

           a          b          c          d
5   4.814500  98.026070  52.322092  35.566957
4  83.307966  94.594107  97.196116  26.148659
3  15.916664  77.736072  53.690069  37.823567
2  90.324961  77.661460  89.851021  85.432664
           a          b          c          d
2  90.324961  77.661460  89.851021  85.432664
3  15.916664  77.736072  53.690069  37.823567
4  83.307966  94.594107  97.196116  26.148659
5   4.814500  98.026070  52.322092  35.566957
           a          b          c          d
e  25.422553  75.472701  39.011765  37.751787
z   6.587094  93.831074  56.226537  47.436320
l  42.140843  21.112079  18.352404   5.342778
k  78.955362  25.085857  18.751358  95.164509
           a          b          c          d
e  25.422553  75.472701  39.011765  37.751787
k  78.955362  25.085857  18.751358  95.164509
l  42.140843  21.112079  18.352404   5.342778
z   6.587094  93.831074  56.226537  47.436320